{% extends "base.html" %}

{% block content %}
<h1>Welcome!</h1>

<h2>See what others are climbing today.</h2>
<p>insert carousel</p>

<h2>Ready to try something new? Let's find you a new climb!</h2>
<p>Find climbing API somewhere with maps</i></p>

<h2>Check the Weather for your area</h2>

<p>Enter your city here:

<form>

    <input type="text">
    <input type="submit">
    </input>
    </input>

</form>
</p>

<h3>Showing weather for <i>{{weather.city}}</i></h3>

<p>{{weather.temp}}</p>
<p>{{weather.description}}</p>
<img src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="weather icon">


<h2>Looking for some gear?</h2>
<p>Insert Shopping ads</p>


{% endblock %}