{% extends "base.html" %}
{%load static%}

{% block content %}


<div class="container">
    <h1 class="center">Route Finder</h1>
    <h2 class="center">Let's find you a new route!</h2>
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" id="city"/>
        <button class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search" id="citySubmit"></i>
        </button>
      </div>

    <div class="row margin-top20px">

        <div id="map" class="col-md-6">
        </div>


        <div class="col-md-6" id="weather">
        </div>

    </div>
</div>
<script>

    $(function () {
        $('#citySubmit').click(function (e) {
            e.preventDefault() // stops the page from reloading 
            $('#results').empty(); //empties page after submitting, allows you to search multiple times
            var userInput = $('#city').val(); //gathers search input 
            if (userInput === "") { //ensures fields are filled out
                alert("Please fill out all of the fields.");
            } else {
                mapUrl = 'https://www.google.com/maps/embed/v1/place?key=AIzaSyCikhDfCw0_pf9qJHUW4GNwIi2x-Iau2P0&q=' + userInput + '',
                    $('#map').html(
                        '<iframe width="500" height="500" frameborder="0" style="border:0" src="' + mapUrl + '" allowfullscreen> </iframe>'
                    )

                $.ajax({
                    url: 'http://api.openweathermap.org/data/2.5/weather?q=' + userInput + '&units=imperial&appid=319ce877549b8a92d0ca175e58407932',
                    dataType: 'json', //dataType
                    type: 'get', //getting JSON
                    cache: false,
                    success: function (data) {
                        console.log(data)
                        var Temp = data.main.temp
                        var Humidity = data.main.humidity
                        var Description = data.weather[0].Description
                        var Icon = data.weather[0].icon
                        $('#weather').html(
                            '<div><h2> Showing Weather for: ' + userInput + '</h2> <p> Temperature: ' + Temp + '<br> Humidity: ' + Humidity + ' <br> Description: ' + Description + '</p></div>'
                        )
                    }
                });
            }
        })
    })
</script>

{% endblock %}